@import url('https://fonts.googleapis.com/css?family=Averia+Sans+Libre|Amarante');

$title: 'Amarante',          sans-serif;
$alternative: 'Averia Sans Libre', sans;

$font-default: 16px;
$font-huge: 3rem;
$font-big: 1.5rem;
$font-medium: 1rem;
$font-small: 0.8rem;
$font-smallest: 0.6rem;

$black: #242424;
$gray: #979797;
$white: #ffffff;
$violet: #4b0858;
$yellow: #FFCD00;
$blue: #3e7392;
$red: #c72121;