.section__editor {
	display        : flex;
	flex-direction : column;
	align-items    : center;
	justify-content: center;
	padding        : 50px 20px;
}

.editor__innerContainer {
	margin    : 20px auto;
	width     : 100%;
	text-align: center;
}

.editor__label {
	display      : block;
	margin-bottom: 5px;
	padding      : 5px;
	text-align   : left;
	font-weight  : 500;
}

.input-date {
	height   : 30px;
	width    : 95%;
	font-size: $font-medium;
}

.input-radio {
	margin-right: 5px;
}

.input-radio-text {
	&:first-of-type {
		margin-right: 30px;
	}
}

.input-message {
	width      : 95%;
	font-size  : $font-medium;
	padding-top: 10px;

	&:focus + .input-message-label {
		font-size: $font-small;
		color    : $blue;
	}
}

.input-message-label {
	position  : absolute;
	left      : 50%;
	transform : translate(-50%, 0);
	transition: all 0.3s;
	width     : 100%;

	&.message-filled {
		font-size: $font-small;
		color    : $blue;
	}
}

.editor__button {
	display   : block;
	margin    : 10px auto;
	border    : 1px solid $black;
	width     : 80%;
	height    : 30px;
	font-size : $font-medium;
	color     : $white;
	box-shadow: 1px 1px 5px 2px rgba($gray, 0.4);
  cursor    : pointer;
  background: #979797;

	&.editor__button-save {
		background: $blue;
	}

	&.editor__button-save-off {
		background: $violet;
	}
}
.hidden {
  display: none; }

.noStyle {
  text-decoration: none;
  color: initial; }